// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

//$header-font-size: 1em;
//$header-padding-top: 1.5em;
//$header-padding-bottom: 1.5em;

//$max-width: 1350px;
$indented-lists: true;

// Padding used for layout margins
//$pad-min: 18px;
//$pad-narrow: 25px;
//$pad-medium: 35px;
//$pad-wide: 55px;

// Sidebar widths used in media queries
//$sidebar-width-medium: 240px;
//$sidebar-pad-medium: 15px;
//$sidebar-pad-wide: 20px;
//$sidebar-width-wide: 300px;

html {
	background-color: #29363D !important;
}

body > header {
	background: none !important;
	h1 span {
		font-size: 128%;
	}
	h1 a {
		&, &:visited, &:hover {
			color: #AF482A !important;
		}
	}
}

h1.entry-title a span {
	font-size: 65%;
	bottom: 5px;
	position: relative;
}

article header {
	p.meta {
		right: 0;
	}
}

.full-article {
	color: #AAA !important;
	.meta & {
		white-space: normal !important;
	}
}

body > footer {
	text-shadow: none !important;
	background-color: transparent !important;
	background-image: none !important;
	border-top: none !important;
}